.samrtjkcCheckboxbutton label {
    clear: none;
    padding: 0px 8px 0px 4px;
    margin-bottom: 0px;
    vertical-align: middle;
}

.samrtjkcCheckboxbutton input[type=checkbox] {
      vertical-align: middle;
      /* visibility: hidden; */
}

/* .samrtjkcCheckboxbutton  [type="checkbox"]::before {
    border: 1px solid gray;
    height: 14px;
    width: 14px;
    display: block;
    content: " ";
    cursor: pointer;
    visibility: visible;
}
.samrtjkcCheckboxbutton  [type="checkbox"]:checked::before { 
    background: radial-gradient( var(--smartjkc-radio-checked-color) 35%, transparent 50%);
} */